.admin-catalog__content{
    padding: 60px 90px 40px;
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.admin-catalog__img{
    height: 190px;
    width: 180px;
    object-fit: contain;
}