.admin-users__card{
    width: 180px;
    height: 190px;
    background-color: #FBBF46;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
}
.admin-users__name{
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.admin-users__content{
    display: flex;
    gap: 36px;
    /* padding: 0 90px */
}

.admin-users__form{
    padding: 0 90px 40px;
    display: flex;
    gap: 36px
}
.admin-users__inputs-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px
}
.admin-users__buttons-container{
    display: flex;
    gap: 40px;
    padding: 0 300px
}

.admin-users__buttons-container_column {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center ;
}