
.team__card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 240px;
}
.team__name{
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
    flex-wrap: wrap;
}
.team__about{
    flex-wrap: wrap;
}
.team__img{
    width: 100%
}
@media (max-width: 1240px){
    .team__card{
        width: 100%;
    }
}
@media (max-width: 550px){
    .team__name{
        font-size: 12px
    }
    .team__about{
        font-size: 12px
    }
    .team__card{
        gap: 4px
    }
}