.catalog_type_page{
    padding: 120px 0
}
.catalog__name{
    font-size: 20px;
    font-weight: 700;
}
.catalog__about{
    padding-top: 30px
}
.catalog__card{
    width: 100%
}
.catalog__img{
    width: 100%
}
.catalog__container{
    display: flex;
    flex-wrap: wrap;
    gap: 80px 36px
}
@media (max-width: 550px){
    .catalog__name{
        font-size: 12px;
    }
    .catalog__about{
        padding-top: 8px;
        font-size: 12px
    }
}