.footer{
    background-color: #FBBF46;
}
.footer__container{
    margin: 0 auto;
    max-width: 1920px;
    padding: 44px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__list{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__nav{
    width: 528px
}
.footer__contact{
    align-items: end;
    display: flex;
    flex-direction: column;
    gap: 30px
}
.footer__link{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}
@media (max-width:1600px){
    .footer__nav{
        width: 400px
    }
    
}
@media (max-width:1240px){
    .footer__nav{
        width: 250px
    }
    .footer__link{
        font-size: 14px;
    }
    .footer__container{
        padding: 44px 40px;
    }
}
@media (max-width:800px){
    .footer__nav{
        display: none;
    }
}
@media (max-width:600px){
    .footer__container{
        flex-direction: column-reverse;
    }
    .footer__contact.contact{
        gap: 7px;
        align-items: flex-start;
    }
}