.about__container{
    width: 50%
}
.about__description{
    /* max-width: 672px; */
    padding-bottom: 60px;
}
.about__title{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 40px;
    text-align: center
}
.about__text-container{
    display: flex;
    gap: 48px
}
.about__column{
    width: 50%;
    max-width: 380px;
}
.about__column-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 30px;
}
.about__text{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}
.about__paragraph{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.about__list {
    list-style-image: url("../../assets/images/icons/about-vector.svg");
}

.about__item {
    margin-left: 20px;
    padding-left: 5px;
}


@media (max-width: 800px){
    .about__container {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .about__container{
        width: 100%
    }
    .about__title {
        font-size: 24px;
        padding-bottom: 20px;
    }
}
