.header {
    background-color: #FBBF46;
}

.header__container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logotype {
    font-size: 40px;
    font-weight: 700;
}

.header__nav {
    width: 528px;
}

.header__list {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__connect {
    display: flex;
    gap: 15px
}

.header__connect-arrow {
    width: 25px;
}

.header a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}