.questions__form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%
}
/* .questions__input{
    padding: 25px 0 25px 36px;
    border: 2px solid #000;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    display: block;
} */
/* .questions__input_type_name{
    height: 64px
} */
/* .questions__input::placeholder {
    color: rgba(0, 0, 0, 0.52);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
} */
.questions__form-title{
    font-weight: 700;
}
.questions__img{
    width: calc(50% - 24px);
    flex-shrink: 0;
    object-fit: cover;

    @include desktop1280 {
        width: calc(50% - 16px);
    }
}
