.questions__form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%
}
/* .questions__input{
    padding: 25px 0 25px 36px;
    border: 2px solid #000;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    display: block;
} */
/* .questions__input_type_name{
    height: 64px
} */
/* .questions__input::placeholder {
    color: rgba(0, 0, 0, 0.52);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
} */
.questions__form-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 25px
}
.questions__img{
    width: 50%;
    object-fit: cover;
}
@media(max-width:1240px){
    .questions__form{
        display: flex;
        align-items: center;
        gap: 18px
    }
}

@media(max-width:960px) {
    .questions__img {
        width: 70%;
        margin: 0 auto;
    }
}

@media(max-width:550px){
    .questions__form-title{
        font-size: 12px;
        max-width: 220px;
        margin-right: auto;
        padding-bottom: 0;
    }
    .questions__input{
        padding: 0 13px 5px 12px;
        border: 1px solid #000;
    }
    .questions__input::placeholder {
        font-size: 12px;
    }
}
