@mixin header1 {
  color: #120A00; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 84px;
  font-style: normal;
  font-weight: 900;
  line-height: 92px;
  text-align: center;
}

@mixin header2 {
  padding: 0;
  padding-bottom: 80px;
  color: #000;
  text-align: center;
  font-family: Arial;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

@mixin header3 {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  color: #000;
  text-align: center;
  font-family: Arial;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

@mixin title-text {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin base-text {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  color: #000;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

@mixin link-text {
  padding: 0;
  color: #000;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}