@import 'base/variables';
@import 'base/media-queries';
@import 'base/typography';

@import './section/section.scss';
@import './card/card.scss';
@import './btn/btn.scss';
@import './header/header.scss';
@import './main-page/main-page.scss';
@import './sertificates/sertificates.scss';
@import './catalog/catalog.scss';
@import './news/news.scss';
@import './contact/contact.scss';
@import './footer/footer.scss';
@import './questions/questions.scss';
@import './input/input.scss';
@import './loader/loader.scss';
@import './about/about.scss';
@import './reason/reason.scss';
@import './nav/nav.scss';


html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// #root {
//     font-family: Arial, Helvetica, sans-serif;
// }
a {
    text-decoration: none;
}
@media (max-width: 550px) {
    html {
        scroll-padding-top: 60px;
    }
}
