.loading-img {
    background-image: url('../loading-img/loading-img');
    background-size: cover;
    animation: rotate 1s infinite linear;
    width: 20px;
    height: 20px;
    display: none;
  }
.loading-img_active{
    display: block;
}
  
  @keyframes rotate {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); }
  }
  