.admin-btn-change{
    background-image: url('/assets/images/icons/Change.svg');
    width: 36px;
    height: 36px;
    border: none;
    background-position: 100%;
    cursor:pointer;
}
.admin-btn-change:hover{
    background-image: url('/assets/vendor/images/icons/Property\ 1=Hover.svg');
}