.logotype_type_header{
    padding-top: 5px
}
.logotype_type_footer{
    background-image: url('../../vendor/images/logotype-footer.svg');
    width: 131px;
    height: 115px
}
@media (max-width:1600px){
    .logotype_type_header{
        width: 270px;
    }
}
@media (max-width:1240px){
    .logotype_type_header{
        width: 200px;
    }
}
@media (max-width:800px){
    .logotype_type_header{
        width: 150px;
    }
}
@media (max-width:650px){
    .logotype_type_header{
        width: 100px;
    }
    .logotype_type_footer{
        background-image: url('../../vendor/images/logotype.svg');
        background-position: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 150px;
        height: 50px
    }
}