@import './base/variables';
@import './base/typography';
@import './base/mixins';

@import './admin-registration/admin-registration.scss';
@import './admin-main/admin-main.scss';
@import './admin-header/admin-header.scss';
@import './admin-btn/admin-btn.scss';
@import './admin-main-block/admin-main-block.scss';
@import './admin-news-card/admin-news-card.scss';
@import './admin-status/admin-status.scss';
@import './admin-add-card/admin-add-card.scss';
@import './admin-news/admin-news.scss';
@import './admin-catalog/admin-catalog.scss';
@import './admin-users/admin-users.scss';
@import './admin-title/admin-title.scss';
@import './admin-add-catalog/admin-add-catalog.scss';
@import './admin-add-user/admin-add-user.scss';
@import './admin-change/admin-change.scss';
@import './admin-card/admin-card.scss';
@import './admin-form/admin-form.scss';
@import './admin-category/admin-category.scss';
@import './admin-input/input.scss';

body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}