.main-page {
    position: relative;
    z-index: 20;

    @include tablet960 {
        margin-bottom: 80px;
    }
}

.main-page__container {
    padding-top: 120px;
    padding-bottom: 84px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: normal;
    gap: 0;

    @include desktop1280 {
        padding-bottom: 53px;
    }

    @include tablet960 {
        padding: 60px 36px 0 36px;
    }
}

.main-page__title-img {
    width: 95px;
    height: 40px;
    margin-top: 32px;

    @include desktop1280 {
        width: 68px;
        height: 28px;
    }

    @include tablet960 {
        margin-top: 0;
    }

}


.main-page__title-container {
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 45px;

    @include tablet960 {
        margin-bottom: 29px;
        gap: 35px;
    }
}

.main-page__title {
    @include header1;
    max-width: 1253px;
    z-index: 10;

    @include desktop1280 {
        max-width: 867px;
    }

    @include tablet960 {
        max-width: 709px;
    }
}

.main-page__text {
    @include base-text;
    width: 45%;
    max-width: 672px;
    z-index: 10;

    @include tablet960 {
        padding-bottom: 20px;
    }
}

.main-page__img {
    position: absolute;
    width: 49%;
    height: 100%;
    object-fit: cover;
    top: 0;
    right: 0;
    margin-left: auto;
    z-index: -10;
}

.main-page__btn {
    margin-top: 25px;

    @include tablet960 {
        margin-top: 10px;
    }
}
