.main-page {
    position: relative;
    z-index: 20;
    padding-bottom: 30px
}

.main-page__container {
    max-width: 1920px;
    padding-left: 120px;
    margin: 0 auto;
}

.main-page__title-img {
    width: 95px;
    height: 40px;
    margin-top: 32px;
}

.main-page__title {
    font-size: 84px;
    font-style: normal;
    font-weight: bold;
    max-width: 1200px;
    line-height: 70px;
    z-index: 10;
}

.main-page__title-container{
    display: flex;
    gap: 45px;
    padding: 120px 0 60px 0;
}

.main-page__text {
    max-width: 672px;
    width: 45%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding-top: 25px;
    z-index: 10;
}

.main-page__img {
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
    top: 0;
    right: 0;
    margin-left: auto;
    z-index: -10;
}

@media(max-width: 1280px){
    .main-page__container {
        padding-left: 56px;
    }
    .main-page__title{
        font-size: 60px;
        padding-right: 40px;
    }
    .main-page__title-img {
        width: 68px;
        height: 28px;
    }
}
@media(max-width: 960px){
    .main-page__title{
        font-size: 50px;
        line-height: 55px;
        padding-right: 40px;
    }
    .main-page__title-img {
        width: 68px;
        height: 28px;
    }
}
@media(max-width: 550px){
    .main-page__title-container{
        height: 70vw;
        padding: 20px 0 60px 0;
        gap: 34px;
    }
    .main-page__title{
        padding: 20px 0 0px 0;
        font-size: 22px;
        line-height: 24px;
    }
    .main-page__title-img {
        display: none;
    }
    .main-page__img {
        width: 70vw;
        height: 70vw;
    }
    .main-page__container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .main-page__text{
        font-size: 12px;
        width: 100%;
    }
}